--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
faiss-cpu
numpy
sentence-transformers
scikit-learn
torch
pydantic
python-multipart
python-dotenv
langchain_community
langchain_openai
pathlib
langchain_text_splitters
pickle
