--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
faiss-cpu
numpy
sentence-transformers
scikit-learn
torch
pydantic
python-multipart
python-dotenv
langchain-community
langchain-openai
langchain-text-splitters
langchain_google_genai

